<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espera porfavor...
</div>

<ng-template #divPais class="animate__animated animate__rubberBand">
    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{ pais.name.common }}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img class="img-thumbnail" [src]="pais.flags.svg" alt="">
        </div>

        <div class="col">
            <h3>Información</h3>
            <ul>
                <li class="list-group-item">
                    <strong>Capital: </strong>{{pais.capital}}
                </li>
                <li class="list-group-item">
                    <strong>Población: </strong>{{pais.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Codigo numerico: </strong>{{pais.ccn3}}
                </li>
                <li class="list-group-item">
                    <strong>Codigo Alpha: </strong>{{pais.cca2}}
                </li>
            </ul>
        </div>
    </div>

    <h3>Traducciones</h3>
    <div class="row">
        <div class="col" >
            <span class="badge bg-primary me-1" *ngFor="let translation of translationsVal">{{translation.official}}</span>
        </div>
    </div>

    <!-- <pre class="mt-5">
        {{pais | json}}
    </pre> --> <!-- sirve para ver todo lo que trae la respuesta al end point -->
</ng-template>


