/*Estilos Css*/

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-size: 32px;
}

.fondo{
    position: absolute;
    width: 40%;
    bottom: 0px;
    left: 0px;
}

.atras{
    height: 80%;
    position: absolute;
    display: flex;
    right: 12%;
}

.card{
    position: absolute;
    display: flex;
    width: 1107px;
    height: 540px;
}

.quotes{
    top: 100px;
    left: 95px;
    position: absolute;
}

.text{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 140px;
    width: 639px;
}

.p1{
    color: #B8B6C4;
    font-size: 20px;
    margin-top: 5px;
}

.img-person{
    position: absolute;
    right: 0px;    
}


.button{
    position: absolute;
    width: 112px;
    top: 520px;
    left: 633px;
}



@media screen and (max-width:1109px) {
    
    .fondo{width: 100%;}

    .card{
        flex-direction: column;
        width: 320px;
    }

    .img1{
        width: 252px;
        height: 253px;
        margin-right: 40px;
    }

    .movil{
        display: block;
        align-self: center;
    }

    .text{
        left: 5px;
        top: 311px;
        font-size: 18px;
        text-align: center;
        width: 307px;
    }

    .p1{
        margin-top: 5px;
        align-self: center;
        width: 200px;
        font-size: 15px;
    }

    .atras{
        top: -150px;
        left: 0px;
        position: relative;
        height: 307px;
        width: 326px;  
    }

    .quotes{
        width: 60px;
        left: 125px;
        top: 300px;
    }

    .button{
        width: 80px;
        top: 235px;
        left: 117px;
    }

}