*{
    box-sizing: border-box;
}

body{
    background-color: #DDDDDD;
    font-family: "Red Hat Text", sans-serif;
}

main{
    padding: 20px;
    width: 90%;
    margin: 10% auto;
    background-color: white;
    border-radius: 8px;
}

h1{
    color: #247FCD;
}

section{
    display: flex;
}

.izquierda{
    width: 25%;
    padding: 10px;
}

#menu1, #menu2, #menu3, #menu4{
    height: 48px;
    width: 100%;
    margin: 20px auto;
    border: none;
    border-radius: 8px;
    background-color: #DDDDDD;
    color: #734A54;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.derecha{
    padding: 30px;
    width: 75%;
}

.opciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tituloForm{
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    height: 46px;
    align-items: center;
    margin-right: 5px;
    border-radius: 8px;
    padding: 2%;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
}

h3{
    color: white;
    font-weight: 400;
}

.x{
    background-image: url(./design/x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

h2{
    margin-left: 40%;
    color: #734A54;
    font-weight: 600;
}

.nuevo{
    width: 12%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: #007ACC;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

#reg1{
    width: 90%;
    margin: 20px auto;
    font-family: "Questrial", sans-serif;
}

#reg{
    margin: auto;
    text-align: center;
    background-color: white;
    color:  black;
    width: 30%;
    top: 47%;
    right: 18%;
    position: absolute;
    
}

.space{
    padding: 10px;
    margin: 10px;
}

#nameTR{
    border-collapse: collapse;
    width: 100%;
}

#nameTR td, th{
    text-align: left;
    padding-left: 20px;
    border: 2px solid #DDDDDD;

}

td input{
    height: 35px;
    border-radius: 8px;
    padding: 10px;
    border: solid 2px #DDDDDD;
}

td button{
    height: 60px;
    font-size: 16px;
    margin-right: 10px;
}

th{
    text-align: center;
}

#nameTR button{
    width: 40%;
    background-color: white;
    border: none;
}

form input{
    border-radius: 6px;
    outline: none;
    border: solid 2px #DDDDDD;
}

form button{
    border : none;
    width: 30%;
    border-radius: 8px;
    background-color: #007ACC;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

img{
    width: 30px;
    height: 30px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    display: none;
    border-radius: 10px;
    margin: auto;
    background-image: url(./design/border.jpg);
    background-repeat: no-repeat;
    background-size: 100% 22%;
    box-shadow: 6px 5px 3px -3px rgba(0,0,0,0.28);
}

.mostrar{
    display: block;
}



