/*Stilos CSS*/

*{
    box-sizing: border-box;
}
body{
    background-image: url(../images/bg-intro-desktop.png);
    background-color: #FF7978;
    font-family: "Poppin", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: rebote 10s infinite;
}

@keyframes rebote {
    0%{
        background-position: top;
    }
    50%{
        background-position: bottom;
    }
    100%{
        background-position: top;
    }
}

.container{
    box-sizing: border-box;
    width: 375px;
    padding: 10px;
}

h1{
    font-weight: 700;
    font-size: 36px;
    margin-top: 90px;
}

p{
    font-weight: 400;
    font-size: 16px;
}

h1, p, .button, .valide {
    color: #ffffff;
    line-height: 1.5;
}

.button{
    background-color: #5D54A3;
    height: 89px;
    border-radius: 8px;
    margin-top: 37px;
    font-size: 16px;
    padding: 0 60px 0 60px;
    box-shadow: 0px 5px #0000005d;
}

.button, form, .valide{
    width: 95%;
}

form{
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px #0000005d;
    margin: 24px 0 0 9px;
    padding-top: 20px;
}

input{
    margin-top: 14px;
    font-weight: 700;
    width: 85%;
    height: 58px;
    border: 2px solid #DEDEDE;
    border-radius: 8px;
    padding-left: 20px;
}
:focus{
    outline: none;
}

.valide{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #37CC8A;
    border: none;
    width: 86%;
    box-shadow: 0px 5px #37cc893d;
}

.text-form{
    color: #C2C0CE;
    font-size: 11px;
    padding: 0 60px 40px 60px;
}

@media only screen and (min-width: 768px) {

    .container{
        width: 1117px;
        height: 667px;
        display: flex;
        align-items: center;
    }

    .header{
        text-align: left;
        width: 570px;
    }

    .section{
        width: 570px;
    }

    h1{
        font-size: 49px;
    }

    p{
        font-size: 16px;
    }

    .button{
        height: 56px;
        margin-left: -10px;
    }
}


