<!-- <div class="textoDiv">
  <h1>{{ nombre | titlecase }}</h1>
  <h2>{{ valor | number}}</h2>
  <h3>{{ obj | json}}</h3>
</div>


<button type="button" pButton icon="pi pi-check-square" iconPos="left" label="Cambiar Nombre" (click)="mostrarNombre()" class="p-button-help" styleClass="p-card-shadow"></button>

<p-card header="Tarjeta" [style]="{width: '460px'}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum accusantium officiis magni tenetur doloremque maiores nisi eligendi nihil. Totam sed, eveniet blanditiis 
  nobis ab earum voluptatum ipsam dignissimos labore mollitia.

  <ng-template pTemplate="footer">
    <button pButton label="Aceptar" class="p-button-primary" icon="pi pi-check"></button>
    <button pButton label="Cancelar" class="p-button-secondary" icon="pi pi-times" [style]="{'margin-left': '10px'}"></button>
  </ng-template>
  
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>


