*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F7F7F7;
}

.cont-loader{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px;
    display: none;
}

.loader1{
    position: absolute;
    top: 500%;
    left: 1200%;
    width: 300%;
    height: 300%; 
    border: solid 4px transparent;
    border-top-color: #93DAE7;
    border-left-color: #93DAE7;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}
.loader2{
    position: absolute;
    top: 500%;
    left: 1200%;
    width: 170%;
    height: 170%; 
    border: solid 4px transparent;
    border-top-color: #689CC5;
    border-left-color:#689CC5;
    border-radius: 50%;
    animation: loader2 1s linear infinite;
}

@keyframes loader {
    0%{ transform: translate(-50% ,-50%) rotate(0deg);}
    100%{ transform: translate(-50% , -50%) rotate(360deg);}
}

@keyframes loader2 {
    0%{ transform: translate(-50% ,-50%) rotate(0deg);}
    100%{ transform: translate(-50% , -50%) rotate(-360deg);}
}

h1{
    font-size: 38px;
}

.titulo{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

main{
    width: 95%;
    margin: auto;
    background-color: white;
    padding-bottom: 10px;
    
    
}

.seccion1 {
    box-shadow: inset 1px 50px 0px -1px #113D72;
    border-radius: 4px;
    background-color: white;
}

h2{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.articulo1{
    width: 70%;
    background-color: #F7F7F7;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin: 10px;
}

.fechaInicial, .fechaFinal{
    display: flex;
    padding: 20px;
    width: 35%;
    
}

#fechaInicial, #fechaFinal{
    box-shadow: inset -42px 0px 0px 0px #2267A0;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    background-image: url(../iconos/calendarPlus.svg);
}

.labels{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
}

input{
    height: 27px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
}

.infoArticulo1{
    display: flex;
    align-items: center;
}

.botones button{
    height: 45px;
    margin-top: 10px;
}

.botones{
    opacity: 0;
}

select{
    height: 27px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.articulo2{
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin: 10px;
}

.seccion2{
    margin-top: 10px;
    display: flex;
    background-color: white;
}

.filtro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 6px;
}

.filtro1 , .filtro2, .filtro3, .filtro4, .filtroMoneda{
    display: flex;
    width: 30%;
    margin-top: 15px;
    margin-left: 15px;
}

.infoFiltro1, .infoFiltro2 , .infoFiltro3 , .infoFiltro4, .infoFiltro5{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

button{
    width: 175px;
    height: 36px;
    border: none;
    border-radius: 8px;
    background-color: #2267A0;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #7e8183;
}

.ordenes{
    box-shadow: inset 1px 50px 0px -1px #113D72;
    border-radius: 4px;
    background-color: white;
    width: 95%;
    margin: 5px auto;
    margin-bottom: 30px;
    height: 300px;
}

.tabla{
    overflow: auto;
    font-size: 14px;
    text-align: center;
    padding: 0 15px 0 15px;
    border-collapse: collapse;
    width: 120%;
    height: 150%;
}

.acomodar{
    width: 100%;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

th{
    border-bottom: solid 2px gray;
    
}
td{
    border-bottom: 1px gray solid;
    padding: 10px;
}

.archivos{
    display: flex;
    align-items: center;
    border-bottom: none;
    margin-top: 5px;
}

.archivos img{
    margin-left: 8px;
    cursor: pointer;
}

#check{
    width: 25px;
    height: 25px;
}

.fondo{
    display: flex;
    flex-direction: column;
       justify-content: center;
    width: 600px;
    height: 100px;
    text-align: center;
    color: gray;
    margin: 2% auto;
}

#pago{
    border: solid 1px gray;
    width: 120px;
}

.imprimir{
    border: dotted red;
}

.table2{
    background-color: white;
    border-collapse: collapse;
    border: gray 2px solid;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.resultado{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 20%;
    box-shadow: inset 1px 55px 0px -1px #113D72;
    padding: 20px;
    background-color: white;
    display: none;
}

.resultado span{
    color: white;
    font-size: 20px;
}

.cerrar{
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    align-items: center;
}

.x{
    background-image: url(../iconos/x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.gris{
    background-color: #7e8183;
} 