/*Style CSS*/


body{
    background-color: #0C122C;
    background-image: url(../images/bg-desktop.png);
    background-position:center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1520px 400px;
    font-family: "Raleway", sans-serif;
    transition: 1s;
}

aside{
    display: flex;
    justify-content: center;
    margin-top: 12%;
    color: #ffffff;
    font-size: 14px;
    
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -40px;
    margin-right: 45%;
    padding-top: 18px;

}
.share{
    background-color: #0C122C;
    border-radius: 10px;
    padding: 14px 14px 14px 14px;
        
}

.fol{
    padding: 16px 14px 16px 14px;
}

.up{
    padding: 18px 14px 18px 14px;
}


.share:hover{
    background-color:#6e809854;
}

.logo{
    background-color: #1D2B68;
    width: 348px;
    height: 201px;
    border-radius: 10px 100px 10px 10px;
    padding-left: 4%;
   
 }

.storage{
    background-color: #1D2B68;
    border-radius: 10px;
    width: 540px;
    height: 154px;
    margin-left: 31px;
    margin-top: 47px;
    padding-left: 20px;
    padding-right: 20px;
}

.imglogo{
    margin-top: 40px;
}

.slide{
    width: 80%px;
    height: 20px;
    border-radius: 10px;
    background-color: #1B214E;
}
.bar{
    position: relative;
    width: 80%;
    height: 20px;
    background-image:linear-gradient( 45deg, #f2a49e , #fb4d92);
    border-radius: 50px;
    animation: mover 20s;
}   

.circle{
    position: absolute;
    right: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border:solid;
    top: 2px;
    background-color: #ffffff;
}

@keyframes mover{
    from{width: 5%;}
    to{width: 80%;}

}

.text{
    display: flex;
    justify-content: space-between;

}
.gbdesktop{
    position: relative;
    float: right;
    top: -110%;

}

span{
    position: absolute;
    color: #000000;
    top: 10px;
    left: 30px;
}

.big{
    font-size: 20px;
}

p{
    margin-top: 30px;
}

.text{
    margin-top: -20px;
}

.gbmovil{
    display: none;
}
 
 @media screen and (max-width: 881px) {

    body{
        background-image: url(../images/bg-mobile.png);
        background-size: 881px 695px;
        transition: 2s;
 
    }

    aside{
         flex-direction: column;
         margin-top: 22%;
         justify-content: center;
         margin-left: 10%;
    }

    .logo{
        width: 326px;
        height: 201px;
        padding-left: 38px;
        
    }
    .storage{
        width: 326px;
        height: 160px;
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
    }

    ul{
        margin-right: 40%;
        justify-content: space-between;
    }

    .gbdesktop{
        display: none;
    }

    .gbmovil{
        display: inline-block;
        position: relative;
        
    }

       
    span{
        position: absolute;
        color: #000000;
        left: 30px;
    }
 
}

