<h2>Busquedas</h2>
    <hr>
    <ul class="list-group">
        <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item">Buscar Pais</li>  <!-- routerLink es para acceder a la ruta --
            routerLinkActive es para seleccionar el menu seleccionado -- [routerLinkActiveOptions]="{ exact: true }" es para decirle que el link es es exacto al que se pide  -->
        <li routerLink="region" routerLinkActive="active" class="list-group-item">Buscar Region</li>
        <li routerLink="capital" routerLinkActive="active" class="list-group-item" >Buscar Capital</li>
    </ul> 
